.custom-pagination .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value,
.custom-pagination
  .rs-picker-select-menu-item.rs-picker-select-menu-item-active {
  color: var(--light-gold-clr);
  border-color: var(--light-gold-clr);
}
.campaignsTable {
  align-self: flex-end;
  min-width: 100%;
}
.requestsContainer {
  display: flex;
  gap: 7rem;
  flex-direction: column;
}
