* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-clr: #0a0b0c; /* for all page bg */
  --secondary-bg-clr: #1c1f21; /* cards, navbar, tables bg */
  --primary-gold-clr: #c27613; /*primary buttons bg, secandary buttons border, pagination */
  --light-gold-clr: #ffc42e; /* pagination, progress, steps */
  --white-text-clr: #fff; /* for text*/
  --card-border-radius: 20px; /* border radius for cards, and sidenav items*/
  --button-border-radius: 40px; /* for buttons*/
  --image-border-radius: 50%;
  --secondary-button-clr: transparent; /*bg color for secandary buttons*/
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.App {
  background-color: var(--primary-bg-clr);
  height: 100vh;
  display: flex;
}
.containerRoutes {
  overflow-y: auto;
  width: 100%;
  height: 100vh;
  margin: 5rem 3rem;
}
.containerRoutes::-webkit-scrollbar {
  display: none;
}
.mainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.rs-sidenav-collapse-in {
  width: 350px !important;
}
@media (max-width: 1200px) {
  .rs-sidenav-collapse-in {
    width: 200px !important;
  }
}
ul,
ol {
  margin-bottom: 0px;
}
