.createModalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createModalItemsWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 3rem 2rem;
  height: 700px;
  background-color: var(--secondary-bg-clr);
  border-radius: var(--card-border-radius);
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  align-items: center;

}
.createCampaignForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 3rem 0;
  width: 100%;
  align-items: center;
}

.createCampaignForm button{
  align-self: center;
}

.hidden {
  display: none;
}
.uploadBtn {
  cursor: pointer;
  padding: 10px;
  background-color: var(--light-gold-clr);
  color: rgb(22, 19, 19);
  border: 1px solid transparent;
  border-radius: var(--card-border-radius);
  transition: all .3s ease
}
.uploadBtn:hover{
  background-color: transparent;
  border: 1px solid var(--light-gold-clr);
  color: var(--light-gold-clr);
}