.doughnut {
  height: 300px;
  background-color: var(--secondary-bg-clr);
  margin: 30px 0;
  padding: 15px;
  border-radius: var(--card-border-radius);
}
.chart {
  height: 300px;
  background-color: var(--secondary-bg-clr);
  margin: 30px 0 0;
  padding: 15px;
  border-radius: var(--card-border-radius);
}

.container1 {
  height: 626px;
  overflow-y: hidden;
  padding: 10px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: var(--secondary-bg-clr);
  border-radius: var(--card-border-radius);
}
.container1 h3 {
  color: var(--primary-gold-clr);
}
.container1 .child {
  height: 90%;
  overflow-y: scroll;
}
.container1 .child::-webkit-scrollbar {
  display: none;
}
.child .donateBtnPrimary {
  margin-top: 10px;
}
.sub {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid var(--primary-gold-clr);
}
.sub .second {
  margin-left: 20px;
}
.child a {
  color: white;
}
.child a:hover {
  color: var(--primary-gold-clr);
  text-decoration: none;
}
.first img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.sub .second button:last-of-type {
  margin-left: 5px;
}
@media (max-width: 920px) {
  .container1 h3 {
    font-size: 25px;
  }
  .container1 {
    margin-top: 30px;
    margin-left: 0;
  }
  .sub .second button:last-of-type {
    margin-left: 5px;
  }
}
@media (max-width: 550px) {
  .sub .second button:last-of-type {
    margin-left: 0;
    margin-top: 5px;
  }
  .sub {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .container1 .child {
    height: 85%;
  }
  .sub div.second a p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
  }
  .sub .second button:last-of-type {
    margin-left: 0;
    margin-top: 5px;
  }
}
