.sidebar {
  background-color: var(--secondary-bg-clr);
  width: 300px;
  height: 100vh;
  padding-top: 10%;
}
a.item.item {
  font-size: 20px;
  margin: 30px 0 !important;
}
a.item.item:hover {
  color: var(--primary-gold-clr);
}
a.item.rs-sidenav-item.rs-sidenav-item-active {
  background-color: var(--primary-bg-clr);
  color: var(--primary-gold-clr);
  border-radius: var(--button-border-radius) 0 0 var(--button-border-radius);
}
