.networkErrorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}
.networkErrorContainer > h1 {
  font-size: 60px;
}
.networkErrorContainer > h2 {
  font-size: 50px;
}
.networkErrorContainer > p {
  font-size: 20px;
}
